@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

/* body { */
  /* background-color: rgba(0, 0, 0, 1) */
/* } */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
  padding: 0;
}

li, a {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 16;
  color: #ffffff;
  text-decoration: none;
}

.logo{
  height: 50px;
  width: 50px;
}


.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #38dcf5;
}


h1 {
  color: white;
}

.header-nav{
  background-color: rgba(0,0,0,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
}

/* Body of website */
.intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  font-size: 54px;
  text-decoration: none;
  /* transition: text-decoration 5s ease-out; */
}

.line {
  height: 2px;
  background-color: white;
  width: 485px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

