@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
  padding: 0;
}

li, a {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 16;
  color: #ffffff;
  text-decoration: none;
}

.logo{
  height: 50px;
  width: 50px;
}


.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #38dcf5;
}


h1 {
  color: white;
}

.header-nav{
  background-color: rgba(0,0,0,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
}

/* Intro Landing Page */
.intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  font-size: 54px;
  text-decoration: none;
}

.line {
  height: 2px;
  background-color: white;
  width: 485px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.i-am{
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  top: 140%;
  /* bottom: 100%; */
}

.scroll-icon{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  transition: all 0.3s ease-out;
  cursor: pointer;
  padding-left: 100px;
}
.scroll-icon:hover {
  bottom: 20px;
}

.discover{
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 50;
  transform: translate(-50%);
  padding-bottom: 5px;
}
/* Second Section 
------------------------------*/
.s2{
  /* position:relative; */
}
.about-container{
  /* border: 2px solid white; */
  height: 600px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 20px;
}

img.library {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: brightness(70%)
}

img.arrow2{
  position: absolute;
  top: 15%;
  left: 30%;
  height: 700px;
  filter: brightness(1.75);
  z-index: 1;
}
img.arrow3{
  position: absolute;
  left: 1%;
  bottom: 50%;
  transform: rotate(-.5deg);
  width: 62%;
}

.headshot{
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  bottom: 35%;
  left: 75%;
  border-radius: 50%;
  filter: brightness(70%);
  /* transform: translate(50%, 75%); */
}
.headshot:hover{
  filter: brightness(100%)
}

.text-box{
  width: 40%;
}

.c1{
  margin-right: 150px;
}

.c2{
  text-align: right;
}
/* Inner Text for about me stuff 
---------------------------------- */

.about-me {
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 30px;
  font-weight: 100;
}

.resume-box{
  position: relative;
}
.resume{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  /* box-shadow: 0 0 10px rgba(270,250,250,1); */
}

/* "Hi I'm Gerand" box*/
.i-do-this{
  font-size: 20px;
  font-weight: 100;
  padding-top: 20px;
}
/* "list of skills" box */

.list-of-skills{
  padding-top: 20px;
  font-size: 20px;
  font-weight: 100;
  /* border: 2px solid white; */
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
}
.lang{
  width: 30%;
  /* background-color: rgba(0, 0, 0, .4); */
}
/* Education box */
.education-container{
  position: relative;
}
.education1{
  padding-top: 20px;
  position: absolute;
  left: 0;
  font-size: 20px;
  font-weight: 100;
}
.education2{
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 20px;
  font-weight: 100;
}

/*--------
Side Display    */

.side-tab{
  position:fixed;
  bottom: 20%;
  right: -5.3%;
  padding: 15px 30px;
  border-radius: 10px 10px 0 0;
  background-color: white;
  color: black;
  transform: rotate(-90deg);
  box-shadow: 0 -3px 7px rgba(0, 0, 0, .3);
  font-family: 'IBM Plex Mono', monospace;
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.social-media-icon{
  width: 34px;
  height: 34px;
}

/* --------
projects Display   
---------- */

.project-display{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%)
}


